.emojiListWrapp {
  width: 70%;
}

.emojiList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.emojiItem {
  padding: 10px 20px;
  list-style-type: none;
  background-color: #eeeeee;
  border: 1px solid #cccccc;
}
